<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería</title>

  <link href="css/galeria.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body>
  <button id="back" onclick="window.location.href='principal.html'"> 
    <img id="back"src="media/imagenes/back.png">
  </button>
  <div id="decoracion"></div>
  <div class="efecto">
    <h1 class="trivia">Galería</h1>
  </div>
  <br>
  <br>
  <br>
  <button id="starta" onclick="window.location.href='fotos.html'">Fotos</button>
  <br>
  <button id="startb" onclick="window.location.href='videos.html'">Videos</button>
  <br>
  <button id="startc" onclick="window.location.href='cartas.html'">Cartas</button>
</body>

</html>