<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>

  <link href="css/login.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body>
  <img src="media/imagenes/BASET.png" alt="logo">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <H1>Iniciar sesión</H1>
  <h2>Correo eléctronico</h2>
  <input type="email" placeholder="Correo Eléctronico">
  <h2>Contraseña</h2>
  <input type="password" placeholder="Contraseña">
  <br>
  <br>
  <button onclick="window.location.href='principal.html'">Iniciar Sesión</button>
  <br>
  <br>
  <br>
  <h5>¿Aún no tienes cuenta en "¡BATEA!"?</h5>
  <h6 onclick="window.location.href='registro.html'">Registrate Aquí.</h6>
</body>

</html>