<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <link href="css/registro.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <script src="js/registro.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</head>

<body>
  <H1>Registro</H1>
  <br>
  <br>
  <br>
  <form id="form">
    <div class="fotoContenedorPerfil">
      <img id="fotoPrevis" src="media/imagenes/fedep.png" alt="Foto de perfil">
      <button type="button" id="fotoSelecciona">
        +
      </button>
      <input type="file" id="fotoIngresa" name="fotoPerfil" accept="image/png, image/jpeg, image/webp">
    </div>
    <h2>Nombre de usuario</h2>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" minlength="3" required>
    <h2>Correo eléctronico</h2>
    <input type="email" id="correo" name="email" placeholder="Correo Eléctronico" required>
    <h2>Contraseña</h2>
    <input type="password" id="contra" name="contra" placeholder="Contraseña" required>
    <h2>Confirmar contraseña</h2>
    <input type="password" id="verificarContra" name="verificarContra" placeholder="Confirmar contraseña">
    <br>
    <br>
    <button type="submit">Registrar cuenta</button>
  </form>
  <br>
  <h5>¿Ya tienes una cuenta en "¡BATEA!"?</h5>
  <h6 onclick="window.location.href='/login'">Inicia sesión Aquí.</h6>

</body>

</html>