<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados</title>

  <link href="css/resultados.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body>
  <h1>100 Puntos</h1>
  <h2>¡Nuevo Record!</h2>
  <h3>Nombre Puntos</h3>
  <h4 id="a">Fede P. 100 Pts</h4>
  <h4 id="b">Javier 50 Pts</h4>
  <h4 id="c">Ana 10 Pts</h4>
  <button id="recomp" onclick="window.location.href='recompensas.html'">Canjear recompensas</button>
</body>

</html>