<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>

  <link href="css/usuario.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  
  <script src="js/perfil.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</head>

<body>
  <div id="head">
    <button id="back" onclick="window.location.href='/principal'"> 
      <img src="media/imagenes/back.png" alt="Volver">
    </button>
  </div>

  <img id="fotoPerfil" src="media/imagenes/fedep.png" alt="Foto de Perfil">

  <div id="contenedorBio">
    <br><br><br><br>
    <h1 id="nombreUsuario">Cargando...</h1>
    <label id="infoUsuario">Cargando datos...</label>
    
    <div id="resto">
      <h2>Biografía</h2>
      <label id="textoBio">Cargando biografía...</label>
      <br>
      <h2>Puntuaciones Máximas:</h2>
      <label> ¡BATEA!: 500 Puntos.</label>
      <br>
      <label> Trivia: 100 Puntos.</label>
      <br>
      <h2>Cartas Favoritas:</h2>
      <label>Todavía no tienes cartas favoritas.</label>
    </div>
  </div>
</body>

</html>