<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>

  <link href="css/usuario.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body>
  <div id="head">
    <button id="back" onclick="window.location.href='principal.html'"> 
      <img id="back" src="media/imagenes/back.png">
    </button>
  </div>
  <img src="media/imagenes/fedep.png" alt="FedeP" id="usu">
  <div id="body">
    <div id="bio">
      <br>
      <br>
      <br>
      <br>
      <h1>Fede P.</h1>
      <label id="info">24. Hombre. Se unio en 2026.</label>
      <div id="resto">
        <h2>Biografia</h2>
        <label> Blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,
          blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,
          blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,
          blah, blah.</label>
        <br>
        <h2>Puntuaciones Máximas:</h2>
        <label> ¡BATEA!: 500 Puntos.</label>
        <br>
        <label> Trivia: 100 Puntos.</label>
        <br>
        <h2>Cartas Favoritas:</h2>
        <label>Todavía no tienes cartas favoritas.</label>
      </div>
    </div>
  </div>
</body>

</html>