html{
  margin: 0;
  padding: 0;
}

body
{
    background: linear-gradient(180deg, #889FDC, #0339A6, #1E2E86, #141E59);
    margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
  background-repeat: no-repeat;
   min-height: 100vh;
}




button#back {
 border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-right:auto;
   position: absolute;
   top:0;
  left:0;
  width: 70px;
  height: 67px;
  color: #4b2c04;
  background: linear-gradient(180deg, #F8A5A2, #CA2407, #AE120A, #890200);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}



button#back:hover{
   
  background: #F8A5A2;
}

button#back:active
{
    background: #890200;
    color: #F8A5A2;
}


img#back {
    width: 40px;
  height: 40px;
   position:absolute;
  left:10px;
  top:10px;
}

button{
    color: white;
    font-size: larger;
    border-color: black;
    font-family: 'Alfa Slab One', cursive;

}

.efecto {
    padding:60px 40px;
    display:flex;
    justify-content:center;
}

.trivia{
    margin:0;
    font-family: 'Alfa Slab One', cursive;
    font-size:80px;
    color:#FFB300;

    position: fixed;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
 
    text-shadow:
      -2px 2px 0 #f08c00,
      -3px 3px 0 #f08c00,
      -4px 4px 0 #f08c00,
      -5px 5px 0 #f08c00,

      
 
      -7px 7px 0 #E8402A,
      -8px 8px 0 #E8402A,
      -9px 9px 0 #E8402A,
      -10px 10px 0 #E8402A,

      -12px 12px 0 #3a3226,
      -13px 13px 0 #3a3226,
      -14px 14px 0 #3a3226,
      -15px 15px 0 #3a3226;
  }

  img#miniatura{
    width: 250px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 20%;

  }

  button#starta {
 
   margin-right:auto;
   left: 50%;
   bottom: 32%;
   transform: translate(-50%);
   border-radius: 15%;
   position: absolute;
  width: 300px;
  height: 67px;
  background: linear-gradient(180deg, #F9D55C, #FFB300, #D97904, #9F5D09);

    font-size:30px;
    color:#E8402A;
 
}

button#startb {
 
   margin-right:auto;
   left: 50%;
   bottom: 20%;
   transform: translate(-50%);
   border-radius: 15%;
   position: absolute;
  width: 300px;
  height: 67px;
  background: linear-gradient(180deg, #F9D55C, #FFB300, #D97904, #9F5D09);

    font-size:30px;
    color:#E8402A;
 
}

button#startc {
 
   margin-right:auto;
   left: 50%;
   bottom: 8%;
   transform: translate(-50%);
   border-radius: 15%;
   position: absolute;
  width: 300px;
  height: 67px;
  background: linear-gradient(180deg, #F9D55C, #FFB300, #D97904, #9F5D09);

    font-size:30px;
    color:#E8402A;
 
}

button#starta:hover, button#startb:hover, button#startc:hover{
   
  background: #F9D55C;
}

button#starta:active, button#startb:active, button#startc:active
{
    background: #9F5D09;
    color: #F8A5A2;

    text-shadow:
      -1px 1px 0 black,
      -2px 2px 0 black,
      -3px 3px 0 black,
      -4px 4px 0 black;
}

div#decoracion{
  width: 250px;
  height: 250px;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 50%;
   transform: translate(-50%);
   position: absolute;
   border: 15px solid white;
   filter: drop-shadow(-5px 5px 0 #141E59);
}

